@using Hl7.Fhir.Model
@inject IJSRuntime JSRuntime

@code {
    [Parameter]
    public Patient Patient { get; set; }

    [Parameter]
    public bool IsContextVisible { get; set; }

    private string Name => Patient?.Name?.FirstOrDefault()?.Given.FirstOrDefault() ?? "Missing Name";
    private string Dob => Patient?.BirthDate ?? "Missing DOB";
    private string Pid => Patient?.Id ?? "Missing Patient ID";

    private string IsHalfView => IsContextVisible ? "half-view" : string.Empty;
}

<div class="@(IsHalfView)">
    <h1 class="view-title">Patient View</h1>
    <h2>@Name</h2>
    <div class="patient-data-text">
        <p>
            <strong>ID: </strong> @Pid <strong>Birthdate: </strong> @Dob
        </p>
    </div>
    <CardList TakeSuggestion="() => {}" />
</div>